<h2><strong>Olá {{ student }},</strong></h2>
<br>

Seu pedido de auxílio foi respondido, segue os dados: <br>
<strong>Pergunta: </strong> {{ question }} <br>
<strong>Resposta: </strong> {{ answer }} <br>
<strong>Data da resposta: </strong> {{ date }} <br>
<br>
<br>

<small>Foco, Força e Fé!</small>
