<h2>Seja bem-vindo(a)!</h2>
<br>
<strong>Olá {{ student }},</strong> <br>
Sua matrícula foi realizada com sucesso, confira os dados logo abaixo: <br>
<strong>Plano: </strong> {{ plan }} <br>
<strong>Data de término: </strong> {{ date }} <br>
<strong>Valor: </strong> R${{ price }},00 <br>
<br>
<br>

<small>Foco, Força e Fé!</small>
